a { 
    cursor: pointer;
    cursor: hand;
}

form input {
    text-transform: uppercase; 
}

form textarea {
    height: 5rem;
}

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

/**
 * Este hermosa porción de código se encarga de manejar las imagenes "rotas" ke acompanían a las opciones
 */
label[for="autocomplete-city"] + ul.dropdown-content img {
    display: none;  /** No muestra las imágenes. Comportamiento por defecto. */ 
    /* display: block; */   /** Muestra las imágenes */
}